langchain
transformers
requests
# torch
einops
accelerate
bitsandbytes
pdfminer.six
bs4
sentence-transformers
chromadb
openai
constants
mysql-connector-python
bcrypt
python-dotenv
fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
langchain-community
langchain-openai
langchain-text-splitters
langchain-classic
pydantic
